/*------------------------------------------------*/
/*-----------------[FOOTER]-----------------------*/
/*------------------------------------------------*/


/* =Footer
----------------------------------------------- */

.Footer {
	/*padding-top: 2rem;	*/
	background: $footer-bg;
	color: white;
	overflow: hidden;
	padding-bottom: 1.5rem;

	@media (max-width: $tablet-width) {
		text-align: center;
	}

	.Footer-bloque {
		float: left;
		width: 33%;
		font-size: 1.125rem;


		@media (max-width: $tablet-width) {
			width: 100%;
			float: none;
		}

		&:nth-child(2) {
			padding: 0 3.5rem;
		}

		.Footer-bloqueLogo {

			@media (max-width: $tablet-width) {
				padding: 0 1rem 1rem;
			}

			img {
				width: auto;

				@media (max-width: $tablet-width) {
					width: 100%;
				}
			}
		}

		.Footer-bloqueContacto {
			padding-bottom: .5rem;
			font-size: 1.125rem;

			i {
				margin-right: .5rem;
			}
		}

		.Footer-bloqueRedes {
			overflow: hidden;
			display: inline-block;

			a {
				color: white;
				border-right: 2px solid #844120;
				/*padding: 0 .5rem;*/
				display: block;
				float: left;
				text-align: center;
				width: 2.5rem;
				line-height: 30px;
				@include transicion();

				&:last-child {
					border: none;
				}

				i {

				}
			}

			.fb {

				&:hover {
					background: #3B579D;
				}

			}

			.tw {

				&:hover {
					background: #5EA9DD;
				}

			}

			.yt {

				&:hover {
					background: #B62025;
				}

			}

			.gp {

				&:hover {
					background: #DC4A38;
				}

			}

			.li {

				&:hover {
					background: #0274B3;
				}

			}
		}

		ul {
			list-style: none;
			border-left: 3px solid #AF551A;
			padding: 0 0 0 1rem; 

			@media (max-width: $tablet-width) {
				border: none;
				padding: 0;
				padding-top: .5rem;
			}

			li {
				font-size: 1.125rem;

				a {
					color: white;
					@include transicion();

					&:hover {
						color: #AF551A;
					}
				}

			}
		}
	}

	.Footer-creditos {
		width: 100%; 

		/* Firma SH  */
		.Footer-firmaSH  {	 
			background-image: url(images/dev-by-soluciones-hipermedia.png);
			background-repeat: no-repeat;
			background-size: 30px 60px;
			padding-left: 30px;
			width: 320px;
			float: right;
			color: #7A7A7A;
			text-decoration: none;
			font-size: .95rem;
			height: 30px;
			line-height: 30px;
			margin: 1rem 0;

			@media (max-width: 320px) {
				width: 100%;
				clear: both;
				margin-bottom: 2rem;
			}
					
			&:hover {	color: #333;	background-position: 0 bottom;  }
		}
	}
	

}




