/*------------------------------------------------*/
/*-----------------[HEADER]-----------------------*/
/*------------------------------------------------*/
.Header { 
	width: 100%;
	position: relative;
	white-space: nowrap;
	clear: both;
	display: block;
	height: $header-height;
	height: auto;
	background: $header-bg;
	// background: peru;
	margin: 0 auto;
	z-index: 99;
	position: relative; // Cambiar de relative a fixed si se quiere integrar el heade ral contenido
	left: 0;
	right: 0;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
	/*overflow: hidden;*/
	@include transicion();
	
	@media (max-width: $desktop-width) {
		height: auto;
		background: none;

		&--tiny { position: relative; }
	}

	@media (max-width: $desktop-width) {
		position: relative;	
		height: auto;	
		background: #003B81;
	}

	&--tiny {
		height: 58px;
		background: $header-bg;
		position: fixed;

		@media (max-width: $desktop-width) {
			height: auto;
			position: relative;
		}

		&:hover {
			height: 95px;

			@media (max-width: $desktop-width) {
				height: auto;
			}
		}
	}

	&:hover {

		.Header-contenidoBefore {

			&.tiny {
				height: 40px;
			}
		}

		.Header-contenido {

		}
	}

	.Header-contenidoBefore {
		background: #0054AA;
		text-align: right;
		color: white;
		height: 40px;
		border-bottom: 3px solid rgba(0,46,105,.8);
		@include transicion();

		@media (max-width: $desktop-width) {
			height: auto;
			text-align: center;
		}

		&.tiny {
			height: 0;

			@media (max-width: $desktop-width) {
				height: auto;
			}

			&:hover {
				height: 40px;

				@media (max-width: $desktop-width) {
					height: auto;
				}
			}
		}

		.u-contenedor {
			height: 100%;

			.correo, .movil, .social {
				display: inline-block;
				margin: 0;
				vertical-align: middle;
				/*padding-top: .5rem;*/

				@media (max-width: $smaller-width) {
					display: block;
					padding: 0;
				}
			}

			.correo, .movil {
				color: white;
				padding-right: 3rem;
				line-height: 40px;

				@media (max-width: $smaller-width) {
					padding: 0;
				}

				i {
					margin-right: .3rem;
				}
			}

			.movil {


			}

			.social {
				padding: 0;
				overflow: hidden;

				@media (max-width: $desktop-width) {
					display: inline-block;
					/*width: 100%;*/
				}

				a {
					color: white;
					border-left: 2px solid rgba(0,46,105,.5);
					/*padding: 1rem .5rem;*/
					text-align: center;
					display: block;
					float: left;
					width: 2.5rem;
					line-height: 40px;
					@include transicion();

					i {
						/*padding-left: .3rem;*/
					}
				}

				.fb {

					&:hover {
						background: #3B579D;
					}

				}

				.tw {

					&:hover {
						background: #5EA9DD;
					}

				}

				.yt {

					&:hover {
						background: #B62025;
					}

				}

				.gp {

					&:hover {
						background: #DC4A38;
					}

				}

				.li {

					&:hover {
						background: #0274B3;
					}

				}
			}
		}
	}
	
	.Header-contenido {
		display: block;
		/*height: 100%;*/
		height: 80px;
		width: $desktop-width;
		position: relative;
		margin: 0 auto;
		@include transicion();

		&.tiny {
			height: 55px;

			@media (max-width: $desktop-width) {
				height: auto;
			}
		}

		@media (max-width: $desktop-width) {
			max-width: $desktop-width;
			width: 100%;
			height: auto;
			display: inline-block;
		}

		/* Logo */
		.Header-logo {
			margin-top: -2.5rem;
			/*padding: .5rem 1rem;*/
			display: block;
			/*float: left;*/
			max-width: 320px;
			position: absolute;
			top: 0;
			@include transicion();

			&.tiny {
				margin-top: 0;
			}

			@media (max-width: $desktop-width) {
				max-width: 100%;
				width: 100%;
				text-align: center;
				padding: 1rem 0;
				position: relative;
				margin-top: 0;
			}
			img {
				border-radius: 2px;
				max-width: 320px;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
				@include transicion();

				@media (max-width: $desktop-width) {
					width: 75%;
				}
				&.tiny {
					max-width: 144px;

					@media (max-width: $desktop-width) {
						height: auto;
						max-width: 320px;
					}
				}
			}
		}
		/* Botones Sociales */
		.social {
			float: right;
			padding: .5rem 1em;	

			@media (max-width: $tablet-width) {
				width: 100%;
				clear: both;
				text-align: center;
			}
		}
		/* Search Form */
		#searchform {
			float: right;
			padding: .5rem 1em;
			@include transicion();

			@media (max-width: $tablet-width) {
				display: none;
			}
			
			div { margin: 0; }
			label { display: none; }
		}
		
		 #s {
			float: right;
			@include transicion();
			width: 90px;
		}
		#s:focus {
			background-color: #f9f9f9;
			width: 196px;
		}
		#searchsubmit {
			display: none;
		}
		.only-search #searchform {
			top: 5px;
			z-index: 1;
		}
		.only-search #s {
			background-color: #666;
			border-color: #000;
			color: #222;
		}
		.only-search #s,
		.only-search #s:focus {
			width: 85%;
		}
		.only-search #s:focus {
			background-color: #bbb;
		}
		.with-image #searchform {
			top: auto;
			bottom: -27px;
			max-width: 195px;
		}
		.only-search + #access div {
			padding-right: 205px;
		}
		
	}
}
