/*------------------------------------------------*/
/*---------------------[POST]---------------------*/
/*------------------------------------------------*/

.Post {
	/*width: 70%;*/
	vertical-align: top;
	/*display: inline-block;*/
	margin: 0;
	color: #444444;

	p {
		font-size: 1.125rem;
	}

	img {
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
		padding: 0;
	}

	h2 {
		font-size: 3rem;
		font-weight: 600;
	}

	h3 {
		font-size: 2.25rem;
		font-weight: 600;
	}

	h4 {
		font-size: 2.25rem;
		font-weight: 300;
	}

	h5 {
		font-size: 1.875rem;
		font-weight: 600;
	}

	@media (max-width: $tablet-width ) {
		width: 100%;
		padding: 1.5rem;
	}
	
	.Post-featuredImage {
		width: 100%;
		height: 260px;
		overflow: hidden;
		margin-bottom: 2.5rem;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		position: relative;
		background-size: 100%;

		figcaption {
			position: absolute;
			margin: 0 auto;
			right: 0;
			left: 0;
			top: 20%;
			text-align: center;

			h1 {
				font-weight: 800;
				font-size: 3rem;
				color: white;
			}

			p {
				color: #395D88;
			}
		}

		img {
			opacity: 0;
			height: 190px;
			width: 100%;
		}

		.sprite {
			/*background-color: red;*/
			background-image: url('images/spriteslides.png');
			background-repeat: no-repeat;
			width: 100%;
			height: 70px;
			display: block;
			background-position: center -850px;
		}
	}

	.contenido-wp {
		padding-bottom: 10rem;

		.hunabix, .hibam {
			background: #EEEEEE;
			margin-bottom: 2rem;
			position: relative;
			border-radius: 3px;
			border: 2px solid #333;
			padding: 0 2rem;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
		}

		.hunabix{
			margin-top: 280px;
			padding-top: 3rem;
			padding-bottom: 2rem;
			min-height: 300px;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -281px;
				width: 270px;
				height: 317px;
				background-image: url('images/hunabix.png');
			}
		}

		.hibam{
			margin-top: 100px;
			padding-top: 3rem;
			padding-bottom: 2rem;
			padding-left: 6rem;
			width: 82%;
			margin-left: 195px;
			min-height: 380px;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				left: -190px;
				width: 273px;
				height: 332px;
				background-image: url('images/hibam.png');
			}
		}


	}

	.Post-titulo {

	}


	.Post-portafolioItem {

		ul {
			list-style: none;
			padding-left: 1rem;

			li {
				margin-bottom: .5rem;
				color: #424242;
				font-size: 1.2rem;

				&:before {
					content: "\f00c";
					color: #0055A5;
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					margin-right: 1rem;
				}
			}
		}

		.u-acf-title {
			background: #EEEEEE;
			color: #404040;
			font-size: 1.8rem;
			font-weight: bold;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
			margin-bottom: 2rem;

			a {
				color: inherit;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				width: 72px;
				height: 50px;
				background: #F37A1F;
				margin-right: 1rem;
			}

			.zelda {
				background: #0055A5;
			}
		}
		
		.panel {
			overflow: hidden;
			border: none;
			box-shadow: none;

			.zelda, .uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .servicio, .detalles, .capturas, .disenador {
				background-image: url('images/spritessh.png');
				background-repeat: no-repeat;
			}

			.zelda{
				background-position: 11px -146px;
			}

			.servicio {
				background-position: -51px -146px;
			}

			.detalles {
				background-position: -111px -144px;
			}

			.capturas {
				background-position: -172px -143px;
			}

			.disenador {
				background-position: -230px -145px;
			}

			.uno {
				background-position: 2px -78px;
			}

			.dos {
				background-position: -116px -80px;
			}

			.tres {
				background-position: -233px -80px;
			}

			.cuatro {
				background-position: -58px -80px;
			}

			.cinco {
				background-position: -175px -80px;
			}

			.seis {
				background-position: -293px -80px;
			}

			.siete {
				background-position: -175px -80px;
			}

			.Post-portafolioFigure {
				display: inline-block;
				width: 30%;
				padding: 2rem 2rem 0 0;
			}

			.Post-portafolioContent {
				display: inline-block;
				width: 69%;
			}

			.Post-portafolioServicio {
				float: left;
				width: 50%;
				color: #404040;
				font-size: 2rem;
				font-weight: 600;
				
				span {
					display: inline-block;
					vertical-align: middle;
					width: 60px;
					height: 60px;
					background-color: #969696;
					border-radius: 2px;
					position: relative;
					z-index: 0;
					margin-right: 1rem;

					&::after {
						content: "";
						height: 3px;
						width: 100%;
						display: block;
						background: #707070; 
						position: absolute;
						bottom: -2px;
						z-index: -1;
						border-bottom-right-radius: 2px;
						border-bottom-left-radius: 2px;
						@include transicion();
					}
				}
			}

			.Post-portafolioDisenador {

				figure {
					display: inline-block;
					width: 20%;
					vertical-align: top;

					img {

					}
				}

				.mayoria, .resto {
					display: inline-block;
					vertical-align: top;

					.dato {
						color: #3B3B3B;
						font-size: 1.2rem;

						span {
							display: inline-block;
							width: 37px;
							height: 37px;
							background-color: #979797;
							vertical-align: middle;
							position: relative;
							z-index: 0;
							margin-right: 1rem;

							&::after {
								content: "";
								height: 3px;
								width: 100%;
								display: block;
								background: #707070; 
								position: absolute;
								bottom: -2px;
								z-index: -1;
								border-bottom-right-radius: 2px;
								border-bottom-left-radius: 2px;
								@include transicion();
							}
						}
					}
				}

				.mayoria {
					width: 49%;
					padding: 0 1rem;

					.socio {
						margin: 0;
						text-transform: uppercase;
						color: #424242;
						font-size: 2.5rem;
						font-weight: 600;
						margin-bottom: .5rem;
					}

					.giro {
						color: #676767;
						font-weight: 600;
						font-size: 1.5rem;
					}
				}

				.resto {
					width: 30%;

					.social {
						width: 37px;
						height: 37px;
						display: inline-block;
						background-color: #979797;
						position: relative;
						z-index: 0;

						&::after {
							content: "";
							height: 3px;
							width: 100%;
							display: block;
							background: #707070; 
							position: absolute;
							bottom: -2px;
							z-index: -1;
							border-bottom-right-radius: 2px;
							border-bottom-left-radius: 2px;
							@include transicion();
						}
					}
				}
			}
		}
	}
}