/*------------------------------------------------*/
/*---------------------[SIDEBAR]------------------*/
/*------------------------------------------------*/
.Sidebar {
  display: inline-block;
  width: 28%;
  background: peru;
}
