/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/
// PRIMAL
.PrimalBlocks {
	background: white;
	
	// Elimino el bloque si esta en home
	&.inHome {
		@media (max-width: $tablet-width) {
			display: none;
		}
	}

	.PrimalBlocks-contenido {
		// Responsive
		@media (max-width: $desktop-width) {
			padding: 1.5rem;
		}

		.PrimalBlocks-titulo {
			color: #012D62;
			text-align: center;
			font-weight: 800;
			font-size: 3rem;
		}

		.PrimalBlocks-subtitulo {
			margin: 0 0 3rem;
			text-align: center;
			color: #444444;
			font-size: 1.5rem;
		}

		.PrimalBlocks-block {
			display: block;
			float: left;
			width: 30.3333333%;
			margin: 0 1.5% 3rem;
			position: relative;
			z-index: 0;	
			/*padding: .75rem;*/
			/*@include gray-fancy-box; */
			/*background-color: #eaeaea;*/
			/*text-align: center;*/
			// Responsive
			@media (max-width: $tablet-width) {
				width: 44%;
				margin: 0 3% 3rem;
			}
			@media (max-width: $smaller-width) {
				width: 100%;
				margin: 0 0 3rem;
			}

			.PrimalBlocks-blockFigure {
				-webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.6);

				img {
					width: 100%;
				}
			}

			.PrimalBlocks-blockHeading {
				overflow: hidden;
				margin-top: .5rem;

				.PrimalBlocks-blockTitulo {
					width: 86%;
					float: left;
					font-size: 1.125rem;
					font-weight: bold;
					color: #222222;
					padding-right: 2rem;
					line-height: 1.6;
				}

				.PrimalBlocks-blockFecha {
					width: 13%;
					float: left;
					text-align: center;
					margin-top: 1.3rem;
					-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.6);
					-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.6);
					box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.6);

					.mes,.dia {
						line-height: 1;
					}

					.mes {
						background: #0055A5;
						width: 100%;
						height: 23px;
						display: block;
						color: white;
						font-weight: bold;
						padding-top: 3px;
					}

					.dia {
						background: #CCCCCC;
						width: 100%;
						height: 30px;
						display: block;
						padding-top: .3rem;
						color: #666666;
						font-weight: bold;
					}
				}
			}

			.PrimalBlocks-blockDescripcion {
				margin-bottom: .5rem;
				padding-top: 1rem;

				p {
					max-height: 95px;
					overflow: hidden;
					line-height: 1.2;
					margin-bottom: 1rem;
					
					a {
						width: 35%;
						background: #0055A5;
						color: white;
						padding: 1rem .5rem;
						float: left;
						text-align: center;
						border-radius: 2px;
						text-shadow: none;
						position: relative;
						position: absolute;
						bottom: 1rem;
						left: 0;
						@include transicion ();

						&::after {
							content: "";
							height: 6px;
							width: 100%;
							display: block;
							background: #003D7E; 
							position: absolute;
							bottom: -4px;
							left: 0;
							z-index: -1;
							border-bottom-right-radius: 2px;
							border-bottom-left-radius: 2px;
						}
					}
				}
			}

			.PrimalBlocks-blockCategorias {
				float: right;
				width: 70%;
				text-align: right;
				padding-left: 20%;

				.titulo {
					margin: 0;
					color: #888888;
				}
				
				.categorias {

					a {
						color: #F37A1F;
					}
				}
			}
		}
	}
}

// SAUTE
.SauteBlocks {
	padding-top: 6rem;
	display: inline-block;
	width: 100%;
	
	.SauteBlocks-contenido {
		
		.SauteBlocks-titulos {

			// Responsive
			@media (max-width: $desktop-width) {
				padding: 1.5rem;
			}
		}
		.SauteBlocks-titulo {
			color: $main-color-dark;
		}
		.SauteBlocks-subtitulo {
			margin: 0 0 3rem;
		}
		.SauteBlocks-block {
			display: block;
			width: 100%;
			clear: both;			
			
			.SauteBlocks-blockFigure {
				background-position: center top;
				background-size: 100% auto;
				background-repeat: no-repeat;
				display: block;
				float: left;
				width: 50%;
				margin: 0;	
				text-align: center;
				height: 320px;
				overflow: hidden;		

				// Responsive
				@media (max-width: $desktop-width) {
					background-size: 100% 100%;
				}
				@media (max-width: $tablet-width) {
					width: 100%;
				}

				img {
					width: 40%;
				}

			}
			.SauteBlocks-blockWrapper {
				background: $divider-color;
				display: block;
				float: left;
				width: 50%;
				margin: 0;	

				// Responsive
				@media (max-width: $tablet-width) {
					width: 100%;
				}	

				.SauteBlocks-blockContent {
					padding: 1.5rem 3rem;
					width: $desktop-width / 2;
					height: 320px;
					overflow: hidden;

					// Responsive
					@media (max-width: $tablet-width) {
						width: 100%;
						height: auto;
						padding-bottom: 3rem;
						text-align: center;
						float: none;
					}	


					.SauteBlocks-blockTitulo {
						// ...
					}
					.SauteBlocks-blockSubtitulo {
						// ...
					}
					.SauteBlocks-blockDescripcion {
						// ...
					}
					.SauteBlocks-blockAction {
						// ...
					}
				}
			}

			/* La salteada -------------------------- */
			// El estilo de la imagen inpar
			&:nth-child(odd) .SauteBlocks-blockFigure {
				float: right;
			}
			// El estilo del contenido inpar
			&:nth-child(odd) .SauteBlocks-blockContent {
				float: right;
				text-align: right;

				@media (max-width: $tablet-width) {
					text-align: center;
					float: none;
				}
			}
			// El color de fondo para el contenido inpar
			&:nth-child(odd) .SauteBlocks-blockWrapper {
				background: none;
			}

			
		}
	}
}