.Filmstrip {
	background: white;

	@media (max-width: $tablet-width) {
		text-align: center;
	}
}

.FilmstripSlider {
	overflow: hidden;
	padding-bottom: 2rem;
	/*background: white;*/

	.FilmstripSlider-titulo {
		color: #012D62;
		font-weight: bold;
		font-size: 3rem;
		margin-bottom: .5rem;
	}

	.FilmstripSlider-sliderContenedor {
		width: 700px;
		float: left;

		@media (max-width: $tablet-width) {
			width: 100%;
			float: none;
		}

		.FilmstripSlider-sliderTitulo {
			padding: 0rem 0 2.5rem;
			font-size: 1.3rem;
		}

		.FilmstripSlider-contenido { 
			border: none; 
			margin: 0; 

			.flex-direction-nav a { overflow: visible; }

			.FilmstripSlider-slide {
				text-align: center;
				@media (max-width: $tablet-width) {
					
				}

				.FilmstripSlider-slideImagen {

				}

				.FilmstripSlider-slideTitulo {

				}

				.FilmstripSlider-slideSubtitulo {

				}
			}
		}
	}
	
	.FilmstripSlider-figure {
		float: left;
		width: 36%;

		@media (max-width: $tablet-width) {
			/*width: 100%;*/
			float: none;
			display: block;
			margin: 0 auto;
		}

		img {
			width: auto;
			margin: 0 auto;
			display: block;
		}
	}

}
