.Filmstrip {
	background: white;

	@media (max-width: $tablet-width) {
		text-align: center;
	}
}

.FilmstripSlider {
	overflow: hidden;
	padding-bottom: 2rem;
	/*background: white;*/

	.FilmstripSlider-titulo {
		color: #012D62;
		font-weight: 800;
		font-size: 3rem;
		margin-bottom: .5rem;
	}

	.FilmstripSlider-sliderContenedor {
		width: 700px;
		float: left;

		@media (max-width: $tablet-width) {
			width: 100%;
			float: none;
		}

		.flex-viewport {
			padding-bottom: 1rem;
		}

		.FilmstripSlider-sliderTitulo {
			padding: 0rem 0 2.5rem;
			font-size: 1.125rem;
		}

		.FilmstripSlider-contenido { 
			border: none; 
			margin: 0; 
			padding-bottom: 1rem;

			.flex-direction-nav a { overflow: visible; }

			.FilmstripSlider-slide {
				text-align: center;
				@media (max-width: $tablet-width) {
					
				}

				a {
					text-align: center;

					img {
						width: 90%;
						display: inline-block;
						box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.6);
						border-radius: 5px;
					}

				}

				.FilmstripSlider-slideImagen {


				}

				.FilmstripSlider-slideTitulo {

				}

				.FilmstripSlider-slideSubtitulo {

				}
			}

			.flex-control-nav {

				li {

					.flex-active {
						background: #797979;
					}

					a {
						background: white;
						width: 15px;
						height: 15px;
						-webkit-box-shadow: inset 0px 2px 8px 2px rgba(50, 50, 50, 0.5);
						-moz-box-shadow:    inset 0px 2px 8px 2px rgba(50, 50, 50, 0.5);
						box-shadow:         inset 0px 2px 8px 2px rgba(50, 50, 50, 0.5);
					}
				}
			}
		}
	}
	
	.FilmstripSlider-figure {
		float: left;
		width: 36%;

		@media (max-width: $tablet-width) {
			width: 100%;
			float: none;
			display: block;
			margin: 0 auto;
			padding: 3rem 1rem 0;
		}

		img {
			width: auto;
			margin: 0 auto;
			display: block;

			@media (max-width: $tablet-width) {
				width: 100%;
			}
		}
	}

}
