.Portafolio-page {
	padding: 2rem 0 0;	

	@media (max-width: $tablet-width) {
		background-image: none;
		background-color: #012A60 !important;
	}

	
	.Portafolio-heading {
		text-align: center;
		padding-bottom: 0rem;
		margin-top: -100px;

		@media (max-width: $desktop-width) {
			width: 90%;
			margin: 0 auto;
			margin-top: -100px;
		}
		.caracteristicas-main-titulo {
			padding-bottom: 3rem;

		}

		h2 {
			color: $blue-darker;
			font-size: 1.5rem;
			@media(max-width: $smaller-width) {
				padding-bottom: 2rem;
			}
		}

		#filters {

			@media(max-width: $tablet-width) {
				display: none;
			}
		}

		ul {
			padding: 0;
			font-size: 1.125rem;
			list-style: none;
			overflow: hidden;
			color: white;
			margin-bottom: 0;

			@media(max-width: $tablet-width) {
				padding: 0;
			}

			li {
				display: inline-block;
				margin: 0 .83%;
				cursor: pointer;

				h3 {
					font-size: 1.1rem;
					font-weight: normal;
					margin-bottom: 0;
					color: $blue-dark;
					@include transicion();

					&:hover {
						color: #FDA82F;

						&::after {
							opacity: 1;
						}
					}

					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 5px;
						background: #FDA82F;
						bottom: 0;
						margin-top: 1rem;
						opacity: 0;
						@include transicion();
					}
				}

				.active {
					color: #FDA82F;

					&::after {
						background: #FDA82F;
						opacity: 1;
					}
				}
			}
		}
	}

	.Portafolio {
		background: #ccc;
		padding-bottom: 3rem;
		@media (max-width: $tablet-width) {
			display: none;
		}

		.Portafolio-block {

			&:hover{

				figcaption {

					h2 {
						opacity: 1;
					}
				}
			}

			figcaption {

				h2 {
					font-size: 1.25rem;
					font-weight: 400;
					opacity: 0;
					@include transicion();

					&:hover {
						opacity: 1;
					}
				}

				.description {
					font-size: .8rem !important;
					padding: 0 1rem;
				}
			}
		}
	}
	
	.separador-final {
		display: block;
		width: 100%;
		height: 5rem;
		background: #ccc;
	}
}

