/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/

.Contacto {
	background-image: url('images/contacto-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0rem 0 0;

	.sprite {
		background-image: url('images/spriteslides.png');
		background-repeat: no-repeat;
		width: 100%;
		height: 91px;
		display: block;
		background-position: center -656px;
	}

	.sprite-2 {
		background-image: url('images/spriteslides.png');
		background-repeat: no-repeat;
		width: 100%;
		height: 90px;
		display: block;
		background-position: center -750px;
	}

	.Contacto-titulo {
		padding-top: 2rem;
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		line-height: 1;
		color: #012D62;
		text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
	}

	.Contacto-subtitulo {
		color: #414141;
		font-size: 1.125rem;
		text-align: center;
	}

	.Contacto-formulario {
		padding-top: 2rem;
		padding-bottom: 3rem;
		
		.wpcf7 {
			position: relative;
			z-index: 0;

			.aux {
				overflow: hidden;
			}

			.nombre, .email, .whats {
				float: left;
				width: 30%;
				position: relative;

				@media (max-width: $tablet-width) {
					width: 96%;
					display: block;
					float: none;
					margin: 0 auto 1rem;
				}

				i {
					position: absolute;
					z-index: 1;
					bottom: 10px;
					/*right: 0;*/
					left: 13px;
					font-size: 1.5rem;
					color: #999999;
				}

				input {
					padding-left: 2rem;
					border: none;
					border-radius: 2px;
					background: #EEEEEE;
					-webkit-box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
					-moz-box-shadow:    inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
					box-shadow:         inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
				}
			}

			.email {
				margin: 0 5%;

				@media (max-width: $tablet-width) {
					margin: 0 auto 1rem;
				}
			}

			.mensaje {
				position: relative;

				@media (max-width: $tablet-width) {
					width: 96%;
					margin: 0 auto;
				}

				i {
					position: absolute;
					z-index: 1;
					top: 10px;
					/*right: 0;*/
					left: 13px;
					font-size: 1.5rem;
					color: #999999;
				}

				textarea {
					padding-left: 2rem;
					border: none;
					border-radius: 2px;
					background: #EEEEEE;
					-webkit-box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
					-moz-box-shadow:    inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
					box-shadow:         inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
				}
			}

			.enviar {
				position: relative;
				z-index: 0;

				input {
					background: #F37A1F;
					position: relative;
					border-bottom: 4px solid #B25416;
					@include transicion ();

					@media (max-width: $tablet-width) {
						display: block;
						margin: 0 auto;
						float: none;
						margin-top: 1.5rem;	
						width: 80%;				}

					&::after {
/*						content: "";
						height: 6px;
						width: 100%;
						display: block;
						background: #B25416; 
						position: absolute;
						bottom: -4px;
						z-index: -1;
						border-bottom-right-radius: 2px;
						border-bottom-left-radius: 2px;*/
					}
				}
			}
		}
	}
}
