/*------------------------------------------------*/
/*------------------[	]----------------------*/
/*------------------------------------------------*/

.PrimalTabs {
	padding: 2rem 0 5rem;
	background: white;

	.PrimalTabs-contenido {
		position: relative;

		.PrimalTabs-cotenidoTitulo {
			text-align: center;
			margin-bottom: 3rem;
			color: #444444;
			font-size: 3rem;
			font-weight: 800;
		}

		@media (max-width: $tablet-width) {
			/*float: left;*/
			width: 100%;
			margin-bottom: 1.5rem;
		}

		.PrimalTabs-tabs {
			width: 450px;
			position: absolute;
			right: 0;
			z-index: 0;
			border: none;
			@media (max-width: $tablet-width) {
				position: relative;
				margin: 0 auto;
				width: 100%;
				text-align: center;
			}

			.PrimalTabs-tabsTitulo {
				width: 83px;
				height: 83px;
				display: inline-block;
				background: #B0B0B0;
				margin: 0 2px;
				border-radius: 2px;
				position: relative;
				@include transicion();

				@media (max-width: $tablet-width) {
					margin-bottom: .5rem;
				}

				&::after {
					content: "";
					height: 6px;
					width: 100%;
					display: block;
					background: #999999; 
					position: absolute;
					bottom: -4px;
					z-index: -1;
					border-bottom-right-radius: 2px;
					border-bottom-left-radius: 2px;
					@include transicion();
				}

				.PrimalTabs-tabsLink {
					color: white;
					border: none;
					margin: 0;
					font-weight: bold;
					padding: 10px 3px;
					text-align: center;
					width: 100%;
					height: 100%;
					border-radius: 2px;
					background-image: url('images/spritessh.png');
					background-repeat: no-repeat;

					&:hover {
						background-color: inherit;
					}
				}

				.primer-servicio {
					background-position: 0px 0;
				}

				.segundo-servicio {
					background-position: -87px 0;
				}

				.tercer-servicio {
					background-position: -169px 0;
				}

				.cuarto-servicio {
					background-position: -255px 0;
				}

				.quinto-servicio {
					background-position: -338px 0;
				}
			}

			.primer-servicio {

				&:hover {
					background-color: #FF3429;

					&::after {
						background: #A50C03;
					}
				}
			}

			.segundo-servicio {

				&:hover {
					background-color: #F37A1F;

					&::after {
						background: #B25416;
					}
				}
			}

			.tercer-servicio {

				&:hover {
					background-color: #008ABC;

					&::after {
						background: #045D85;
					}
				}
			}

			.cuarto-servicio {

				&:hover {
					background-color: #00AF51;
					
					&::after {
						background: #015F1B;
					}
				}
			}

			.quinto-servicio {

				&:hover {
					background:-color #0055A5;
					
					&::after {
						background: #003D7E;
					}
				}
			}

			.PrimalTabs-tabsTitulo.active {

				.PrimalTabs-tabsLink { 
					background-color: transparent; 
					/*border: none;*/
					font-weight: bold;  
				}
			}

			.primer-servicio.active {
				background-color: #FF3429;

				&::after {
					background: #A50C03;
				}
			}

			.segundo-servicio.active {
				background-color: #F37A1F;

				&::after {
					background: #B25416;
				}
			}

			.tercer-servicio.active {
				background-color: #008ABC;

				&::after {
					background: #045D85;
				}
			}

			.cuarto-servicio.active {
				background-color: #00AF51;

				&::after {
					background: #015F1B;
				}
			}

			.quinto-servicio.active {
				background-color: #0055A5;

				&::after {
					background: #003D7E;
				}
			}
		}
		
		.PrimalTabs-contenedor {
			min-height: 440px;

			.PrimalTabs-contenedorPanel {
				/*overflow: hidden;*/
				padding-bottom: 1rem;
				@media (max-width: $tablet-width) {
					padding-top: 2rem;
				}
				
				.PrimalTabs-panelFigure {
					width: 49%;
					display: inline-block;
					vertical-align: middle;
					text-align: center;

					@media (max-width: $tablet-width) {
						width: 100%;
					}

					img {
						width: auto;
						display: block;
						margin: 0 auto;

						@media (max-width: $tablet-width) {
							width: 100%;
						}
					}

					figcaption {
						text-align: center;

						h2 {
							font-weight: bold;
							font-size: 2.25rem;
						}

						.primer-servicio {
							color: #A50C03;
						}

						.segundo-servicio {
							color: #B25416;
						}

						.tercer-servicio {
							color: #045D85;
						}

						.cuarto-servicio {
							color: #015F1B;
						}

						.quinto-servicio {
							color: #003D7E;
						}
					}
				}

				.PrimalTabs-panelContent {
					width: 50%;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					z-index: 0;
					margin-top: 6rem;
					font-size: 1.125rem;
					@media (max-width: $tablet-width) {
						vertical-align: top;
						padding-top: 2rem;
						width: 100%;
						padding: 0 1rem;
						margin-top: 1rem;
					}

					.PrimalTabs-contentHeading {

					}

					strong {
						/*margin-bottom: .5rem;*/
					}

					ul {
						padding-top: .5rem;
						padding-left: 0.8rem;
						list-style: none;
						padding-bottom: 1.5rem;

						li {

							i {
								color: #0055A5;
								margin-right: .3rem;
							}
						}
					}

					.PrimalTabs-contentBtn {
						margin-bottom: .5rem;
						width: 55%;
						@include boton-chido();

						@media (max-width: $tablet-width) {
							width: 96%;
						}
					}
					
					.primer-servicio {
						background: #FF3429;

						&::after {
							background: #A50C03;
						}
					}

					.segundo-servicio {
						background: #F37A1F;

						&::after {
							background: #B25416;
						}
					}

					.tercer-servicio {
						background: #008ABC;

						&::after {
							background: #045D85;
						}
					}

					.cuarto-servicio {
						background: #00AF51;

						&::after {
							background: #015F1B;
						}
					}

					.quinto-servicio {
						background: #0055A5;

						&::after {
							background: #003D7E;
						}
					}
				}
			}
		}
	}
}
