.PrimalSlider {

	.PrimalSlider-contenido {
		border: none;
		margin: 0;
		overflow: hidden;

		.PrimalSlider-slide {
			position: relative;
			background-position: center bottom;
			background-size: 100%;
			background-attachment: fixed;

			.PrimalSlider-slideImagen {
				/*width: auto;*/
			}

			.PrimalSlider-slideCaption {
				color: white;
				width: $desktop-width;
				bottom: 0;
				right: 0;
				left: 0;
				margin: 0 auto;
				@media (max-width: $desktop-width) {
					padding-bottom: 3rem;
				}

				@media (max-width: $tablet-width) {
					width: auto;
				}

				@media (max-width: $smaller-width) {
					padding: 0;
					height: 100%;
					bottom: 0rem;
				}

				.PrimalSlider-captionText {
					display: inline-block;
					width: 50%;
					vertical-align: middle;
					position: relative;
					z-index: 0;
					
					@media (max-width: $tablet-width) {
						text-align: center;
						display: block;
						margin: 0 auto;
						width: 96%;
					}


					.PrimalSlider-slideTitulo {
						font-size: 2.625rem;
						text-shadow: 1px 2px #000;
						margin: .3rem 0;
						font-weight: 600;
						@media (max-width: $desktop-width) {
							font-size: 3rem;
						}
						@media (max-width: $tablet-width) {
							font-size: 2rem;
						}
					}

					.PrimalSlider-slideSubtitulo {
						margin: 1.5rem 0;
						padding: 0;
						font-size: 1.125rem;
						@media (max-width: $desktop-width) {
							font-size: 1.5rem;
						}
						@media (max-width: $tablet-width) {
							font-size: 1rem;
						}
					}

					.PrimalSlider-slideBoton {
						padding: .8rem 0;
						font-size: 20px;
						color: #fff;
						border-radius: 2px;
						text-shadow: none;
						margin: 0 auto;
						display: block;
						background: #008ABC;
						text-align: center;
						width: 55%;
						position: relative;
						@include transicion ();

						&::after {
							content: "";
							height: 6px;
							width: 100%;
							display: block;
							background: #045D85; 
							position: absolute;
							bottom: -4px;
							z-index: -1;
							border-bottom-right-radius: 2px;
							border-bottom-left-radius: 2px;
						}
					}
				}
				
				.PrimalSlider-captionImage {
					display: inline-block;
					width: 49%;
					vertical-align: middle;

					@media (max-width: $tablet-width) {
						display: none;
					}

					img {
						width: auto;
						display: block;
						margin: 0 auto;
					}
				}
				


			}
		}


		.flex-control-nav {
			bottom: 3rem;
			@media (max-width: $desktop-width) {
				bottom: 0;
			}
			@media (max-width: $smaller-width) {
				display: none;
			}
			
			a {
				width: 25px;
				height: 25px;
				border: 2px white solid;
			}

			.flex-active {
				background: white;
			}
		}

		.flex-direction-nav {
			
			a {
				font-size: 0;
				display: block;
				height: 100%;
				top: 0;
				width: 80px;
			}

			.flex-prev {
				left: 0 !important;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
				background-repeat: repeat-x;
			}

			.flex-next {
				right: 0 !important;
				background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
				background-repeat: repeat-x;
			}
		}
	}
}

