/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/

.PrimalTestimony {
	/*padding-top: 6rem;*/
	background: #CCCCCC;

	a {
		color: inherit;
	}
	
	.PrimalTestimony-contenido {
		// Responsive
		@media (max-width: $desktop-width) {
			padding: 1.5rem;
		}

		.PrimalTestimony-titulo {
			color: #012D62;
			text-align: center;
			font-weight: 800;
			font-size: 3rem;
		}

		.PrimalTestimony-subtitulo {
			margin: 0 0 3rem;
			text-align: center;
			color: #444444;
			font-size: 1.125rem;
			/*font-weight: bold;*/
		}

		#testimonios-slider {
			background: none;
			border: none;

			.flex-control-nav {

				li {

					.flex-active {
						background: #797979;
					}

					a {
						background: white;
						width: 15px;
						height: 15px;
						-webkit-box-shadow: inset 0px 2px 8px 2px rgba(50, 50, 50, 0.5);
						-moz-box-shadow:    inset 0px 2px 8px 2px rgba(50, 50, 50, 0.5);
						box-shadow:         inset 0px 2px 8px 2px rgba(50, 50, 50, 0.5);
					}
				}
			}
		}

		.PrimalTestimony-block {
			vertical-align: top;
			position: relative;
			background: white;
			border-radius: 3px;
			padding: 0 1rem;
			-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.6);
			-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.6);
			box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.6);
			margin: 0 19px;
			width: 330px !important;
			height: 22rem;
			
			// Responsive
			@media (max-width: $tablet-width) {
				margin: 0 0 3rem !important;
			}

			.PrimalTestimony-blockCita {
				border: none;
				padding: 0;
				font-family: Georgia;
				font-style: italic;
				font-size: 1.2rem;
				line-height: 1.25;
				padding: 2rem 0rem .5rem;
				margin: 0;
			}
			
			.PrimalTestimony-blockAuthor {
				position: absolute;
				bottom: 1rem;

				.PrimalTestimony-blockAuthor-info {
					font-weight: bold;
					/*padding-left: 1.5rem;*/
					line-height: 1.15;
					float: left;
					width: 70%;

					.PrimalTestimony-blockAuthor-name {
						text-align: right;
						padding-right: 1.3rem;
						font-weight: 600;
					} 

					i {
						display: inline-block;
						width: 20%;
						font-size: 2.5rem;
						color: #B25416;
					}

					.PrimalTestimony-blockMeta {
						font-weight: normal;
						display: inline-block;
						width: 78%;
						font-weight: 600;
					}
				}
			}

			.PrimalTestimony-blockFigure {
				float: left;
				width: 20%;
				display: block;
				width: 73px;
				height: 73px;
				border-radius: 50%;
				/*border: 3px solid #012D62;*/
				/*position: absolute;*/
				/*font-size: 2.5rem;*/
				overflow: hidden;
				-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.6);

				img {
					width: 100%;
					/*width: auto;*/
				}
			}
		}
	}
}